option_settings:
  aws:elasticbeanstalk:application:environment:
    ENVIRONMENT: production
    DEBUG: "False"
    RDS_DB_HOST: "iarecomend-db2.can8uiyocmxb.us-east-1.rds.amazonaws.com"
    RDS_DB_PORT: "5432"
    RDS_DB_NAME: "postgres"
    RDS_DB_USER: "postgres"
    RDS_DB_PASSWORD: "ShopInfo#123"
    SECRET_KEY: "production-secret-key-iarecomend-2025"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:app

commands:
  01_upgrade_pip:
    command: "/var/app/venv/*/bin/pip install --upgrade pip"
    ignoreErrors: true
